body {
    background-image: url('drawingcrop.png'), url(drawingcrop.png);
    font-family: system-ui, -apple-system,
                BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, 
                Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
                 sans-serif;
    background-repeat: no-repeat, no-repeat;
    background-size: 60vh auto, 60vh auto;
    background-position: top left, top right;
    width: 60vw;
    margin: auto;
}
#contactcontainer {
    display: flex;
    margin: auto;
    width: fit-content;
    gap: 10px;
    justify-content:center;
    margin-bottom: 10px;


}
div a > img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    object-fit: contain;
    margin: auto;
    display: block;
}
div a {
    width: 60px;
    height: 60px;
    border-radius: 8px;
    background-color: rgba(204, 204, 255, 0.5);
    display: flex;
    justify-content: center;
    box-shadow: rgba(0,0,0, 0.2) 5px 5px;
}
.cont {
    margin: auto;
    width: fit-content;
    background-color: rgba(204, 204, 255, 0.5);
    border-radius: 10px;
    padding: 5px 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: x-large;
    box-shadow: rgba(0,0,0, 0.2) 5px 5px;
    pointer-events: none;
}

iframe {
    width: 63%;
    margin: auto;
    display: block;
}

.cont > p {
    margin: 0;
}

.cont, #contactcontainer {
    width: 60%;
}

@media only screen and (max-width:600px) {
    body {
        width: auto;
        height: auto;
        background-size: 200px;
        margin: auto;
        background-image: url("drawingcrop.png");
        background-size: cover;
        background-position: top;
    }
    div a > img {
        width: 90%;
        height: 90%;
    }
    #contactcontainer {
        gap: 3vw ;
        margin: auto;
        width: 70%;
        margin-bottom: 10px;
    }
    iframe {
        width: 79%;
        display: block;
        height: auto;
        margin: auto;
        height: auto;
    }
    .cont {
        width: 75%;
        text-align: center;
    }
}